In [14]:
import pandas as pd

In [16]:
data = pd.read_csv("final_enriched_data.csv")

In [17]:
data.dropna(subset=['Quarterly_Ticker'])

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Yearly_P/E Ratio,Yearly_P/B Ratio,...,Quarterly_P/B Ratio,Quarterly_EV/EBITDA,Quarterly_ROE,Quarterly_Current Ratio,Quarterly_Close Price,Quarterly_Ticker,Capital Gains,Oil Price,Gold Price,Gas Price
4,2023-03-03 05:00:00,664.624973,682.872784,664.518783,681.067261,403000,0.0,0.0,86.635997,5.303477,...,NaN,NaN,NaN,NaN,696.157959,EQIX,NaN,77.54,13.93,2.66
5,2023-03-03 05:00:00,32.119979,33.546887,32.071445,33.343040,5488500,0.0,0.0,11.011930,1.745517,...,NaN,NaN,NaN,NaN,30.974567,EQT,NaN,77.54,13.93,2.66
6,2023-03-03 05:00:00,213.820835,217.403497,213.177089,216.619781,366300,0.0,0.0,30.800603,2.200058,...,NaN,NaN,NaN,NaN,195.123901,ESS,NaN,77.54,13.93,2.66
8,2023-03-03 05:00:00,68.934311,69.841223,67.934866,69.813461,2863600,0.0,0.0,19.904984,1.807260,...,NaN,NaN,NaN,NaN,71.774437,ES,NaN,77.54,13.93,2.66
10,2023-03-03 05:00:00,81.572551,82.947422,80.701152,82.821556,3807100,0.0,0.0,12.350843,3.850403,...,NaN,NaN,NaN,NaN,84.370705,EMR,NaN,77.54,13.93,2.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194593,2024-12-20 05:00:00,98.830002,99.680000,97.900002,98.050003,29273900,0.0,0.0,730.202962,7.091990,...,6.361302,48.452868,0.070941,1.364193,111.909477,MRK,NaN,83.44,15.38,1.92
194595,2024-12-20 05:00:00,68.949997,70.330002,68.430000,69.820000,2761500,0.0,0.0,22.691342,2.582653,...,2.594703,55.251052,0.028261,1.415842,72.900002,HSIC,NaN,83.44,15.38,1.92
194596,2024-12-20 05:00:00,105.449997,106.139999,104.839996,105.870003,40041800,0.0,0.0,11.897194,2.091864,...,1.918123,25.075196,0.032056,1.347978,117.220001,XOM,NaN,83.44,15.38,1.92
194597,2024-12-20 05:00:00,433.019989,451.420013,432.470001,447.170013,8196200,0.0,0.0,49.551696,16.283243,...,17.384343,104.354804,0.115779,1.111157,574.409973,ADBE,NaN,83.44,15.38,1.92
194598,2024-12-20 05:00:00,163.759995,166.389999,163.529999,164.839996,6220100,0.0,0.0,37.616533,17.645218,...,16.841540,75.499092,0.130302,3.690952,195.380005,ZTS,NaN,83.44,15.38,1.92

In [18]:
data.sort_values(by=["Quarterly_Ticker" , "Date"],inplace=True)

In [19]:
data.shape

(194599, 25)

In [22]:
data["Price_Change"] = data.groupby("Quarterly_Ticker")["Close"].pct_change()

data["Rolling_Mean"] = data.groupby("Quarterly_Ticker")["Close"].transform(lambda x: x.rolling(window=5).mean())
#target Variable
data["Future_Price_Change"] = data.groupby("Quarterly_Ticker")["Close"].shift(-1) / data["Close"] - 1


data["Oil_Price_Change"] = data.groupby("Quarterly_Ticker")["Oil Price"].pct_change()
data["Gas_Price_Change"] = data.groupby("Quarterly_Ticker")["Gas Price"].pct_change()
data["Gold_Price_Change"] = data.groupby("Quarterly_Ticker")["Gold Price"].pct_change()

In [23]:
data.to_csv("modified_data")